---
const fixedSCdata = {
    pathAssets: "/images/case_studies",
};
const studyCases = [
    {
        bgUrl: `${fixedSCdata.pathAssets}/supermatch/cs_supermatch_blur_op70.png`,
        imageUrl: `${fixedSCdata.pathAssets}/supermatch/supermatch-alabama-solutions-banner.webp`,
        title: "Supermatch",
        subtitle: "Online Sports Betting Platform",
    },
    {
        bgUrl: `${fixedSCdata.pathAssets}/abitab/cs_abitab_blur_op70.png`,
        imageUrl: `${fixedSCdata.pathAssets}/abitab/abitab-tickets-alabama-solutions_2.jpg`,
        title: "Abitab Tickets",
        subtitle: "Rebuilding the national's leading Event Ticketing Platform",
    },
    {
        bgUrl: `${fixedSCdata.pathAssets}/bqm/bqm-devops-alabama-solutions_backdrop.png`,
        imageUrl: `${fixedSCdata.pathAssets}/bqm/bqm-devops-alabama-solutions.webp`,
        title: "BQM DevOps",
        subtitle:
            "DevOps Implementation for Uruguay's largest e-Gaming platform",
    },
];
---
{
    studyCases.map((sc, i) => (
        <section
            id={sc.title}
            style={
                "background: url('" +
                sc.bgUrl +
                "') no-repeat; background-size: cover;"
            }
            class="main-sections d-flex text-left justify-content-start px-0 align-items-start position-relative set_study_case_interact mt-5"
        >
            <div class="case-studies w-100 h-100 d-flex justify-content-center align-items-center">
                <div
                    class="case-studies-clip w-100 h-100 cs-left"
                    style={"clip-path: circle(48vh at " + (i % 2 == 0? '10% 50%' : '90% 50%')  + "); background: url('" + sc.imageUrl +"') no-repeat;"}
                />
                <div
                    data-defer="hidden"
                    class="case-studies-content w-100 h-100 d-flex flex-column justify-content-center align-items-center"
                >
                    <div class="d-flex flex-column col-10 text-end intro-text">
                        <div
                            class={"intro-text-anim align-items-center " + (i % 2 == 0? 'justify-content-end' : 'justify-content-start')}
                            style="height: 7vh;"
                        >
                            <span style="font-family: monospace; animation-delay: 0s !important">
                                Case·Studies·0{i+1}
                            </span>
                        </div>
                        <div class={"intro-text-anim align-items-center " + (i % 2 == 0? 'justify-content-end' : 'justify-content-start')}>
                            <h1
                                class="as-font"
                                style="animation-delay: .1s !important"
                            >
                                {sc.title}
                            </h1>
                        </div>
                        <div
                            class={"intro-text-anim align-items-center " + (i % 2 == 0? 'justify-content-end' : 'justify-content-start')}
                            style="height: fit-content;"
                        >
                            <h2
                                class="as-font-alt mb-4"
                                style="font-family: monospace; animation-delay: .2s !important"
                            >
                                {sc.subtitle}
                            </h2>
                        </div>
                        <div class={"cs-footer col-12 d-flex flex-row mt-2 " + (i % 2 == 0? 'justify-content-end' : 'justify-content-start')}>
                            <button class="btn btn-primary btn_case_study_interaction">
                                Explore This Case
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    ))
}


<style>
    h1 {
        margin: 0;
    }
    .case-studies-content {
        position: absolute;
    }

    .case-studies-content h1 {
        font-size: 10vw;
    }

    .case-studies-clip {
        clip-path: circle(40vh at 20% 50%);
        background-size: cover !important;
        filter: saturate(0.7) brightness(0.7);
        transition: 0.7s;
        box-shadow: 0px 40px 30px -10px black inset,
            0px -40px 30px -10px black inset;
        /* filter: sepia(1) hue-rotate(215deg); */
        filter: sepia(1) hue-rotate(-104deg) opacity(0);
        /* mix-blend-mode: color-dodge; */
    }
    .case-studies-clip-hover {
        filter: none;
        /* mix-blend-mode: unset; */
    }
</style>

<script>
    Array.from(
        document.getElementsByClassName("set_study_case_interact")
    ).forEach((studyCase) => {
        studyCase.addEventListener("mousemove", (event: MouseEvent) => {
            calcClipPath(
                event,
                studyCase.querySelector(".case-studies-clip") as HTMLElement
            );
        });
        studyCase
            .querySelector(".btn_case_study_interaction")
            ?.addEventListener("mousemove", (event) => {
                hideClipPath(
                    studyCase.querySelector(
                        ".case-studies-clip"
                    ) as HTMLElement,
                    true
                );
            });
        studyCase
            .querySelector(".btn_case_study_interaction")
            ?.addEventListener("mouseenter", (event) => {
                (
                    studyCase.querySelector(".case-studies-clip") as HTMLElement
                ).classList.add("case-studies-clip-hover");
            });
        studyCase
            .querySelector(".btn_case_study_interaction")
            ?.addEventListener("mouseleave", (event) => {
                (
                    studyCase.querySelector(".case-studies-clip") as HTMLElement
                ).classList.remove("case-studies-clip-hover");
            });
    });

    // CASE STUDIES
    let calcClipPath = (event: MouseEvent, clipPathEl: HTMLElement) => {
        if (clipPathEl.classList.contains("cs-left")) {
            clipPathEl.style.clipPath = `circle(calc(48vh) at 20% calc(50% + ${
                (-window.innerHeight / 2 + event.clientY) / 10
            }px))`;
            clipPathEl.style.clipPath = `circle(calc(45vh + ${
                event.clientX / 50
            }px) at 10% calc(50% + ${
                (-window.innerHeight / 2 + event.clientY) / 10
            }px))`;
        } else {
            clipPathEl.style.clipPath = `circle(calc(48vh) at 80% calc(50% + ${
                (-window.innerHeight / 2 + event.clientY) / 10
            }px))`;
            clipPathEl.style.clipPath = `circle(calc(45vh + ${
                ((-window.innerWidth / 1 + event.clientX) / 50) * -1
            }px) at 90% calc(50% + ${
                (-window.innerHeight / 2 + event.clientY) / 10
            }px))`;
        }
    };
    let hideClipPath = (clipPathEl: HTMLElement, hover?: boolean) => {
        setTimeout(() => {
            clipPathEl.style.clipPath = `circle(200vh at 50% 50%)`;
        });
    };
</script>
